@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Poppins', sans-serif;
    color: #333;
}
body {
    background-image: url(../img/sfondo.png);
}

#primo {
    text-align: center;
    background: linear-gradient(180deg, rgba(0,160,198), rgba(3,109,134));
    color: white;
}
#primo, #secondo, #terzo {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 20px black;    
}
img {
    padding-top: 40px;
}
#primo ul {
    list-style-type: none;
}
li a {
    color: white;    
}
li a:hover {
    color: red;
}

#secondo {
   background-color: white; 
}
blockquote {
    color: lightgray;
}
.fucsia {
    color: fuchsia;
    font-weight: bold;
}
.code {
    border-style: solid;
    border-radius: 5px;
    background-color:lightgray;
}
table {
    width: 100%;
    border-bottom: solid 2px #3f6bca ;
}
thead {
    background-color: #3f6bca;
    color: white;
}
.gray {
    background-color: #f3f3f3;
}
td {
    padding: 0;
}
iframe {
    border-radius: 30px;
    width: 100%;
}
#novita {
    background-color: lightgray;
}
h3 {
    text-align: center;
    padding-top: 10px;
}
#novita p {
    margin: 0 20px;
}
form {
    text-align: center;
}
button {
    background-color: #3f6bca;
    border: 0;
}
input {
    border: 0;
    border-bottom: dashed 2px;
}
input a:focus {
    border: solid red;
}
.articoli {
    background-color:lightgray;
    border: solid 2px rgb(163, 162, 162);
    margin-bottom: 25px;
}
h4 {
    margin-left: 25px;
    margin-bottom: 0;
}
h4 a {
    color: rgba(0, 204, 255, 0.877);
}
.categoria {
    margin-left: 25px;
    margin-top: 0;
}
.data {
    text-align: end;
    margin-right: 25px;
}
#terzo {
    background: linear-gradient(1deg, #025f8bd1, #028b8b);
}